.md-timepicker-widget {
  position: relative;
  display: inline;
}

.md-timepicker-display {
  vertical-align: middle;
}

.md-timepicker-popup {
  position: absolute;
  top: 100%;
  left: 0;
  background: #eee;
  width: 240px;
  overflow: hidden;
}

.md-timepicker-clock {
  position: relative;
  background-color: #ddd;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 12px auto;
}

.md-timepicker-time {
  text-align: center;
}

.md-timepicker-clock-hour,
.md-timepicker-clock-minute,
.md-timepicker-hour-number,
.md-timepicker-minute-number {
  position: absolute;
  top: 50%;
  left: 50%;
}

.md-timepicker-clock-hour,
.md-timepicker-clock-minute {
  cursor: pointer;
}

.md-timepicker-hour-number,
.md-timepicker-minute-number {
  transform: translate(-50%, -50%);

  .selected > &::after,
  &:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 14px solid #ccc;
    border-radius: 50%;
    z-index: -1;
  }

  .selected > &::after {
    border: 14px solid #aaa;
  }
}
